*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topnav {
  float: top;
  background-color: #333;
  position: fixed;
  padding: 6px;
  box-sizing: border-box;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-right: 13px;
  text-decoration: none;
  font-size: 21px;
}

body{
	background-color: rgba(150,150,150,0.6);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 15px;
  border:dashed;
  border-color:rgb(0,0,255);
}

.textss{
	margin: 18px;
	padding: 15px;
	display: block;
	background-color: rgba(40,40,40,0.7);
	color: white;
}
.text{
	font-family: cursive;
	font-size: 24px;
}
.detail-image{
	display: inline-block;
	float: right;
	border:solid green;
	margin-right: 140px;
	margin-top: 50px;
}
.div-open{
	background-color: rgb(255,255,80); 
	margin: 20px;
	border:solid blue;
	border-width: 6px;
	border-color: solid blue;
}
.detail-tag{
	margin: 10px;
	 margin-left:50px;
	 display: inline-block;
}
.hobbies{
	    padding: 8px;
		background-color: rgb(121,203,180);
}
.hobbies ul{
	font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/*div{
	margin:20px;
}*/
.certifications{
	display: inline-block;
	margin-left: 20px;
	padding-top: 30px;
}
.img-certi{
    border: solid green;
    padding: 5px;
    margin: 15px;
    margin-left:29px; 
}
#back{
    margin: 10px;
    width: 100%;
    border:solid teal;
    display: block;
}
#myPara1{
	background-color: black;
	text-align: center;
	color: white;
	padding: 4px;
	font: italic small-caps bold 16px/28px Georgia, serif;
}
#myPara2{
	background-color: black;
	text-align: center;
	padding: 4px;
	color: white;
	font: italic small-caps bold 16px/28px Georgia, serif;
}
.parallax {
  background-image: url("https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  
  /* Set a specific height */
  min-height: 580px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#profiles{
	background-image: url('https://st2.depositphotos.com/2501025/5406/i/450/depositphotos_54065849-stock-photo-hacker.jpg');
    background-color: transparent;
    background-size: cover;
    min-height: 520px;
    background-repeat: no-repeat;
    color: white;
}
#profiles a{
	color: white;
}

.last{
	margin: 1px;
	background-color: white;
	padding-bottom: 10px;
	padding-top: 8px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
